/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Homepage container */
.home-container {
    display: flex;
    flex-direction:row;
    /* align-items: center;
    padding: 20px; */
}

/* Left content */
.left-content {
    width: 50%;
    text-align: center;
}

.name-home {
    width: 80%;
    height: auto;
}

.name-title h1 {
    margin: 20px 0;
    font-size: 3rem;
}

.name-para p {
    margin: 10px 0;
}

/* Right content */
.right-content {
    width: 50%;
    margin-top: 20px;
}

.rightp {
    width: 60%;
    margin: 0 auto;
    color: green;
    
}

/* Cards */
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: calc(33.33% - 20px);
    margin: 10px;
}

.card img {
    width: 100%;
}

.card-title {
    font-size: 1.5rem;
}

.card-text {
    font-size: 1rem;
}

/* Previous and Next buttons */
.carousel-control-prev,
.carousel-control-next {
    width:10%;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* .carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
} */

@media (max-width: 768px) {
    /* Adjust card width for smaller screens */
    .card {
        width: calc(50% - 20px);
    }

    .name-title h1 {
        font-size: 2rem;
    }

    .name-para p {
        font-size: 0.9rem;
    }
}


  

