* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:white;
}

.main-login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.login-usename,
.login-pass {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

label {
    margin-bottom: 5px;
    color: #333;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #0056b3;
}

 .main-login h1 {
    color: rgb(41, 9, 226);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 20px;
}

/* Media queries for responsiveness */
@media (min-width: 768px) {
    .main-login {
        margin-left: 300px;
        margin-right: 300px;
    }
}
